mseg {
    overflow: hidden;
    height: 200px;
    background-color: #292728;
}
mseg .graph {
    background-color: #ffffff;
    border-color: #ffffff80;
}
zoomer {
    background-color: none;
}
zoomer .bar {
    background-color: #8f3b37;
}
zoomer .handle {
    background-color: #f54e46;
    border-color: #ffffff5b;
}
slider {
    background-color: #292728;
    border-radius: 0;
}
slider .bar {
    background-color: #8f3b37;
    border-color: #f54e46;
}
xy {
    background-color: #292728;
    border-color: #ffffff1a;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.point {
    background-color: #f54e46;
    border-color: #f54e46;
}
.crosshair {
    border-color: #663231;
}
